.personTile {
	border: 1px solid lightgray;
	padding: 15px;
	border-radius: 3px;
	box-shadow: 0 0 4px lightgray;
	margin-right: 10px;
	margin-bottom: 5px;
	height: 200px;
	width: 200px;
	display: inline-block;		
}